/*Estilos en general*/
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/*Estilo para el encabezado*/
.header{
    background: #638889;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.header header .logo a{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #9DBC98;
    text-decoration: none;
}

.header header ul{
    display: flex;
    list-style: none;
}

.header header nav ul li a{
    text-align: none;
    color: #9DBC98;
    margin: 0 15px;
    padding: 2px;
    transition: .5s;
    text-decoration: none;
}

.header header nav ul li a:hover{
    color: #F9EFDB;
}

/*Estilo para los datos*/

.datos{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), url(/assets/RESOURCES/IMG/Fondo.png);
    background-size: cover;
    height: 40vh;
    color: #638889;
    display: flex;
    align-items: center;
}

.datos .contenedor-banner{
    padding: 20px;
    background-color: #9DBC98;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.datos .contenedor-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Arial';
}

/*Estilo para el apartado de que me gusta*/

.quemegusta{
    background-color: #EBD9B4;
    color: black;
    padding: 35px 20px;
}

.quemegusta .contenedor-seccion{
    max-width: 1100px;
    margin: auto;
}

.quemegusta h2{
    color: #9DBC98;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 0;
    text-justify: auto;
}

.quemegusta h3{
    color: #638889;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px 0;
    text-align: justify;
}

.quemegusta .contenedor-seccion .contenedor-img{
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.quemegusta .contenedor-seccion .contenedor-img .medidas{
    width: 300px;
    height: 200px;
    margin-right: 20px;
}

/*Estilo para el apartado de por que me gusta*/

.porque{
    background-color: #F9EFDB;
    color: black;
    padding: 35px 20px;
}

.porque .contenedor-seccion{
    max-width: 1100px;
    margin: auto;
}

.porque h2{
    color: #9DBC98;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 0;
    text-justify: auto;
}

.porque h3{
    color: #638889;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px 0;
    text-align: justify;
}

.porque .contenedor-seccion p{
    text-align: justify;
}

/*Estilo para el apartado de tiempo dedicado*/

.tiempo{
    background-color: #EBD9B4;
    color: black;
    padding: 35px 20px;
}

.tiempo .contenedor-seccion{
    max-width: 1100px;
    margin: auto;
}

.tiempo h2{
    color: #9DBC98;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 0;
    text-justify: auto;
}

.tiempo h3{
    color: #638889;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px 0;
}

.tiempo .contenedor-seccion p{
    text-align: justify;
}